<!-- Developer Instructions -->
<div>
  <h1>Instructions for Developer:</h1>
  <ul>
      <li>Add a navbar at the top of the screen.</li>
      <li>Create two pages: Home (which should showcase automatically) and About.</li>
      <li>On the Home page, implement something similar to the image in the docs.</li>
      <li>On the About Us page, implement something similar to the image in the docs.</li>
  </ul>
</div>

<!-- This is simply used to showcase the navigation -->
<nav>
  <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
  </ul>
</nav>

<!-- Router Outlet for Dynamic Content -->
<router-outlet></router-outlet>
