<nav *ngIf="showNavBar" class="navbar navbar-expand-lg navbar-light nav-bar">
  <div class="container-fluid">
    <div class="navbar-brand-container">
      <a class="navbar-brand" routerLink="/home">StrumFusion</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': isNavbarOpen}" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item d-lg-none">
          <a class="nav-link" (click)="openModal()">Get in Touch</a>
        </li>
        <li class="nav-item d-lg-none">
          <a class="nav-link">Log in</a>
        </li>
      </ul>
      <button class="nav-button ms-auto mr-3 d-none d-lg-block" (click)="openModal()">Get in Touch</button>
      <button class="nav-button d-none d-lg-block">Log in</button>
    </div>
  </div>
</nav>

<app-get-in-touch-popup [(isOpen)]="isModalOpen"></app-get-in-touch-popup>
<router-outlet></router-outlet>
