<section id="zen" class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix">
    <div class="section-heading">
      <h3>THE ZEN CHOICE</h3>
      <h2 class="section-title">Your Zen Den of Choice</h2>
    </div>

    <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
      <div class="pricing-block-content">
        <h3>Sereni-Tea Retreat</h3>
        <p class="pricing-sub">The journey begins</p>
        <div class="pricing">
          <div class="price"><span>R</span>1200</div>
          <p>
            Indulge in a peaceful escape with our Tranquil Retreat, designed to
            relax and rejuvenate your body and mind.
          </p>
        </div>
        <ul>
          <li>60-minute Swedish Massage</li>
          <li>30-minute Refreshing Facial</li>
          <li>Aromatherapy Session</li>
          <li>Herbal Tea Service</li>
          <li>Pool Access</li>
        </ul>
        <a href="#" class="button">My Zen Den</a>
      </div>
    </div>

    <div
      class="pricing-block featured col-3 wow fadeInUp"
      data-wow-delay="0.6s"
    >
      <div class="pricing-block-content">
        <h3>Zen-tastic Tranquilizer</h3>
        <p class="pricing-sub">Most popular choice</p>
        <div class="pricing">
          <div class="price"><span>R</span>2000</div>
          <p>
            Unwind with our Zen-tastic Tranquilizer Package, designed to melt
            away stress and leave you feeling blissfully relaxed.
          </p>
        </div>
        <ul>
          <li>90-minute Float Away Massage</li>
          <li>60-minute Glow Getter Facial</li>
          <li>Jacuzzi and Steam Room Access</li>
          <li>Chill Vibes Body Scrub</li>
          <li>Soak in Tranquili-tea Bath</li>
        </ul>
        <a href="#" class="button">My Zen Den</a>
      </div>
    </div>

    <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
      <div class="pricing-block-content">
        <h3>Chillaxation Extravaganza</h3>
        <p class="pricing-sub">The Ultimate Experience</p>
        <div class="pricing">
          <div class="price"><span>R</span>4500</div>
          <p>
            Embark on a journey of chillaxation, featuring a mix of chill vibes
            and relaxation delights.
          </p>
        </div>
        <ul>
          <li>90-minute Chillaxation Massage</li>
          <li>60-minute Glow Getter Facial</li>
          <li>Chill Pill Body Scrub</li>
          <li>Sereni-Tea Soak</li>
          <li>Zen-dulgence Cocktails and Zen Bites</li>
        </ul>
        <a href="#" class="button">I'm in</a>
      </div>
    </div>
  </div>
</section>
