<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <!--Banner Content-->
  <div id="banner-content" class="row clearfix">
    <div class="col-38">
      <div class="section-heading">
        <h1>Hey Siri, Activate Zen Mode</h1>
        <h2>
          Where Tranquility Blooms and Serenity Beckons: Step into The Zen Den
          and Discover Your Sanctuary of Relaxation and Renewal
        </h2>
      </div>
      <mat-card-actions>
        <a class="button" (click)="openContactDialog()">GET IN TOUCH</a>
      </mat-card-actions>
    </div>
  </div>
</header>
