<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>INDULGE IN TRANQUILITY</h3>
        <h2 class="section-title">Tranquility meets Relaxation</h2>
        <p class="section-subtitle">
          Step into The Zen Den and embark on a journey of relaxation and
          self-discovery. Let us pamper you with our luxurious treatments and
          serene ambiance, leaving you feeling refreshed, revitalized, and ready
          to face the world anew.
        </p>
      </div>
    </div>

    <div class="col-2-3">
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-battery-quarter fa-2x"></i>
        </div>
        <div class="icon-block-description">
          <h4>RECHARGE</h4>
          <p>
            Rediscover your energy and vitality with treatments designed to
            replenish your mind and body, leaving you feeling renewed and ready
            to take on the day.
          </p>
        </div>
      </div>

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bath fa-2x"></i>
        </div>
        <div class="icon-block-description">
          <h4>RELAX</h4>
          <p>
            Unwind in our tranquil oasis where soothing massages and calming
            aromatherapy create a peaceful atmosphere, helping you melt away
            tension and stress.
          </p>
        </div>
      </div>

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tree fa-2x"></i>
        </div>
        <div class="icon-block-description">
          <h4>REFRESH</h4>
          <p>
            Awaken your senses and revitalize your skin with refreshing facials
            and therapies that cleanse and invigorate, giving your complexion a
            radiant glow.
          </p>
        </div>
      </div>

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tint fa-2x"></i>
        </div>
        <div class="icon-block-description">
          <h4>REJUVENATE</h4>
          <p>
            Experience the transformative power of our holistic treatments and
            wellness rituals, designed to restore balance and enhance your
            overall well-being, leaving you feeling youthful and revitalized.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
