<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3>INDULGE IN TRANQUILITY</h3>
        <h2 class="section-title">Tranquility meets Relaxation</h2>
        <p class="section-subtitle">{{aboutContent?.subtitle}}</p>
      </div>
    </div>

    <div class="col-2-3">
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-battery-quarter fa-2x"></i>
        </div>
        <div class="icon-block-description">
          <h4>RECHARGE</h4>
          <p>{{aboutContent?.recharge}}</p>
        </div>
      </div>

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bath fa-2x"></i>
        </div>
        <div class="icon-block-description">
          <h4>RELAX</h4>
          <p>{{ aboutContent?.relax }}</p>
        </div>
      </div>

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tree fa-2x"></i>
        </div>
        <div class="icon-block-description">
          <h4>REFRESH</h4>
          <p>{{ aboutContent?.refresh }}</p>
        </div>
      </div>

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tint fa-2x"></i>
        </div>
        <div class="icon-block-description">
          <h4>REJUVENATE</h4>
          <p>{{aboutContent?.rejuvenate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
