<div class="user-list-container">
  <table class="user-list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of testUsers" (click)="openModal(user)">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-edit-user
  *ngIf="selectedUser"
  [user]="selectedUser"
  (save)="saveUser($event)"
  (close)="closeModal()"
>
</app-edit-user>
