<div id="focus" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <div class="col-3">
      <blockquote class="testimonial text-right bigtest">
        <q>
          Visiting The Zen Den was a transformative experience. The serene
          atmosphere instantly put me at ease, and the expert therapists
          delivered a massage that melted away my stress. I left feeling
          completely rejuvenated and already planning my next visit!</q
        >
        <footer>— Sarah Cherry, Peaceful Soul</footer>
      </blockquote>
    </div>

    <div class="col-3">
      <div class="section-heading">
        <h3>BELIEVING</h3>
        <h2 class="section-title">Focusing On What Matters Most</h2>
        <p class="section-subtitle">
          The Zen Den focuses on creating a serene sanctuary where guests can
          escape the chaos of daily life and reconnect with inner peace.
        </p>
      </div>
      <p>
        Through our tailored treatments and tranquil ambiance, we aim to nurture
        holistic well-being, promoting relaxation, rejuvenation, and a renewed
        sense of harmony.
      </p>
      <p>
        The Zen Den is dedicated to providing a sanctuary of tranquility and
        rejuvenation, where every guest can embark on a personalized journey
        towards inner balance and wellness. Our commitment to excellence ensures
        that each visit leaves you refreshed, revitalized, and inspired to
        embrace life with renewed energy and serenity.
      </p>
      <a
        href="#"
        data-videoid="vtMEzVs6E"
        data-videosite="youtube"
        class="button video link-lightbox"
      >
        WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-3">
      <img src="../assets/images/dancer.jpg" alt="lotus" />
    </div>
    <div class="col-3">
      <img src="../assets/images/dancer.jpg" alt="lotus" />
    </div>
  </div>
</div>
